@font-face {
  font-family: "PT Sans Narrow";
  src: url("../fonts/web/ptsansnarrow.woff");
}

@keyframes bounce {
  0%   {transform: translateY(-2000px);}
  70%  {transform: translateY(30px);}
  90%  {transform: translateY(-10px);}
  100% {transform: translateY(0px);}
}

body {
  min-width: 960px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-transform: uppercase;
  color: #fff;

  margin: 0;

  background: #000000 url("../img/bg-index.jpg") no-repeat center top;
}

.inner-page {
  color: #000000;
  background: #f8f3f0 url("../img/pattern-white.jpg") repeat;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.main-header {
  margin-bottom: 60px;
  background-color: #000000;
  color: #ffffff;
}

.inner-page .main-header {
  margin-bottom: 55px;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation {
  float: left;
  width: 560px;
}

.main-navigation .active {
  position: relative;
  background-color: none;
}

.main-navigation .active span {
  display: block;
  padding: 25px 20px;
}

.main-navigation .active::after {
  content: "";
  position: absolute;
  right: 20px;
  bottom: 0px;
  left: 20px;
  height: 5px;
  background-color: #ffffff;
}

.main-navigation a {
  display: block;
  padding: 25px 20px;
  color: #ffffff;
  text-decoration: none;
}

.main-navigation a:hover {
  background-color: #242424;
}

.main-navigation ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 0px;
}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 20px;
}

.small-logo {
  float: left;
}

.small-logo a {
  display: block;
  width: 110px;
  padding: 23px 10px 16px;
}

.user-block {
  float: right;
  max-width: 140px;
}

.login {
  position: relative;
  display: inline-block;
  padding: 25px 20px;
  padding-left: 50px;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
}

.login:hover {
  background-color: #242424;
}

.login::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 20px;
  width: 18px;
  height: 18px;
  background: url("../img/icon-login.png") no-repeat;
  opacity: 0.3;
}

.login:hover::before {
  opacity: 1;
}

.inner-title {
  margin-bottom: 55px;
}

.inner-title h1 {
  margin: 0px;
  margin-bottom: 20px;
  padding: 0px;

  font-size: 30px;
  line-height: 42px;
}

.breadcrumbs {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.breadcrumbs li {
  position: relative;
  display: inline;
  padding-right: 40px;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 4px;
  right: 17px;
  transform: rotate(45deg);
  width: 8px;
  height: 8px;
  background-color: #000000;
}

.breadcrumbs .current::after {
  display: none;
}

.breadcrumbs a {
  color: #000000;
  text-decoration: none;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

.breadcrumbs .current {
  color: #aba9a7;
}

.inner-content {
  margin-bottom: 75px;
}

.inner-content section h2 {
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 30px;
}

.inner-page section p {
  margin: 14px 0px;
}

.slogan {
  margin-top: 55px;
  margin-bottom: 65px;
  text-align: center;
}

.slogan h2 {
  position: relative;
  z-index: 2;
  display: inline;
  margin: 0px;
  padding: 0 25px;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  background: #f8f3f0 url("../img/patter-white.jpg") repeat;
}

.slogan::after {
  content: "";
  position: relative;
  top: -25px;
  z-index: 1;
  display: block;
  border-bottom: 2px solid #000000;
}

.price-features {
  float: left;
  width: 240px;
}

.custom-list-1 {
  margin: 14px 0px 0px 0px;
  padding: 0px;
  list-style: none;
}

.custom-list-1 li {
  position: relative;
  margin-bottom: 15px;
  padding-left: 20px;
}

.custom-list-1 li:last-child {
  margin-bottom: 0px;
}

.custom-list-1 li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  transform: rotate(45deg);
}

.price-table {
  float: right;
  width: 460px;
}

.table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
  width: 230px;
  text-align: left;
  padding: 10px 15px;
  border: 2px solid black;
}

.table-cell:nth-child(2n) {
  text-align: center;
  padding-left: 0px;
}

.price-about {
  float: left;
  width: 380px;
}

.price-description {
  padding-top: 45px;
  float: right;
  width: 380px;
  margin-right: 80px;
}

.shop-sidebar {
  float: left;
  width: 220px;
}

.shop-sidebar-name {
  font-size: 24px;
  margin-bottom: 30px;
  margin-top: 45px;
}

.shop-sidebar label {
  display: inline-block;
  font-size: 14px;
  margin-bottom: 15px;
}

.shop-checkbox input[type="checkbox"] {
  display: none;
}

.shop-checkbox {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.shop-checkbox:hover {
  color: #663d15;
}

.shop-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  border: 2px solid #000000;
}

.shop-checkbox input[type="checkbox"]:checked
+ .checkbox-indicator::before,
.shop-checkbox input[type="checkbox"]:checked
+ .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 1px;
  width: 18px;
  height: 2px;
  background-color: #000000;
}

.shop-checkbox input[type="checkbox"]:checked
+ .checkbox-indicator::before {
  transform: rotate(45deg);
}

.shop-checkbox input[type="checkbox"]:checked
+ .checkbox-indicator::after {
  transform: rotate(-45deg);
}

.shop-radio input[type="radio"] {
  display: none;
}

.shop-radio {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.shop-radio:hover {
  color: #663d15;
}

.shop-radio input[type="radio"] + .radio-indicator {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 16px;
  height: 16px;
  border: 2px solid #000000;
  border-radius: 10px;
}

.shop-radio input[type="radio"]:checked
+ .radio-indicator::before{
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #000000;
}

.shop-sidebar-name:first-child {
  margin-top: 0px;
}

.shop-item-list {
  float: right;
  width: 700px;
}

.shop-item {
  float: left;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #fff;
}

.shop-item-info {
  color: #000000;
  text-decoration: none;
}

.shop-item-info:hover {
  text-decoration: underline;
}

.shop-item-image {
  margin-bottom: 15px;
}

.shop-item-name {
  margin-bottom: 20px;
  margin-left: 15px;
}

.buy {
  width: 187px;
  height: 44px;
  background-color: #e5e5e5;
}

.shop-item .buy {
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}

.shop-item:nth-child(3n) {
  margin-right: 0;
}

.shop-item-price {
  display: inline-block;
  float: left;
  width: 110px;
  padding-top: 10px;
  text-align: center;
}

.buy .btn {
  float: right;
  margin-right: 0px;
  padding: 10px 16px;
}

.shop-paginator {
  margin-top: 45px;
}

.item-images {
  float: left;
  height: 670px;
  width: 460px;
}

.item-images img {
  margin-bottom: 20px;
  margin-right: 16px;
}

.item-images img:first-child,
.item-images img:last-child {
  margin-right: 0px;
}

.item-code {
  display: inline-block;
  float: right;
  color: #aeaeae;
}

.item-description {
  float: right;
  width: 390px;
  padding-top: 25px;
}

.item-description p{
  margin-bottom: 40px;
}

.item-description .buy {
  margin-bottom: 65px;
}

.item-consist {
  display: inline-block;
  margin-bottom: 35px;
}

.index-logo {
  width: 368px;
  height: 204px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.index-logo img {
  width: 368px;
  height: 204px;
}

.features {
  margin-bottom: 80px;
}

.features-name {
  position: relative;
  display: block;
  margin-bottom: 30px;
  padding-bottom: 30px;
  font-size: 30px;
  line-height: 42px;
}

.features-name::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -10px;
  display: block;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  transform: rotate(45deg);
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
  text-align: center;
}

.features-item:last-child {
  margin-right: 0px;
}

.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
  color: #000000;
  background: url("../img/index-content-shadow.png") no-repeat center,
  #f8f5f2 url("../img/pattern-white.jpg");
}

.index-content p {
  margin: 0px;
  margin-bottom: 25px;
}

.index-content-title {
  margin: 0px;
  margin-bottom: 25px;
  font-size: 30px;
}

.news-preview {
  margin: 0px;
  padding: 0px;
  padding-right: 35px;
  list-style: none;
}

.news-preview li {
  margin-bottom: 25px;
}

.news-preview p {
  margin-bottom: 0px;
}

.news-preview time {
  font-weight: 400;
  text-transform: none;
}

.btn {
  display: inline-block;
  padding: 10px 33px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: top;
  text-align: center;
  margin-right: 16px;
  color: #ffffff;
  background-color: #000000;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #663d15;
}

.btn.disabled,
.btn:disabled {
  cursor: default;
  opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
  background-color: #000000;
}

.shop-paginator .btn {
  padding: 10px 18px;
}

.paginator-active {
  background-color: #ffffff;
  color: #000000;
}

.paginator-active:hover {
  background-color: #ffffff;
  cursor: default;
}

.index-content-left {
  float: left;
  width: 380px;
  min-height: 330px;
}

.index-content-right {
  float: right;
  width: 300px;
  min-height: 330px;
}

.gallery {
  position: relative;
  height: 260px;
}

.gallery-content {
  height: 164px;
  margin: 0px;
  background-color: #cccccc;
  border: 7px solid #ffffff;
}

.gallery-content img {
  width: 286px;
  height: 164px;
}

.gallery .btn {
  position: absolute;
  bottom: 0px;
  width: 140px;
  margin: 0px;
}

.gallery-prev {
  left: 0px;
}

.gallery-next {
  right: 0px;
}

.appointment-form input {
  float: left;
  width: 106px;
  padding: 7px 15px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  text-transform: uppercase;
  color: #000000;
  background-color: #f9f6f3;
  border: 2px solid #000000;
  outline: none;
}

.appointment-form input:nth-child(2n) {
  margin-right: 0px;
}

.appointment-form input:focus {
  border: 2px solid #663d15;
}

.appointment-form .btn {
  clear: both;
  width: 100%;
}

.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;

  color: #ffffff;
  background: #252525 url("../img/pattern-black.jpg");
}

.footer-contacts {
  float: left;
  width: 320px;
  min-height: 90px;
}

.footer-contacts a {
  color: #ffffff;
}

.footer-contacts a:hover {
  text-decoration: none;
}

.footer-social {
  float:left;
  width: 180px;
  min-height: 90px;
  margin-left: 60px;
  text-align: center;
}

.footer-social p {
  margin: 0px;
  margin-bottom: 15px;
}

.social-btn {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;
  font-size: 0px;
  vertical-align: top;
  text-decoration: none;
}

.social-btn:hover {
  background-color: #ffffff;
}

.social-btn-vk {
  background: #000000 url("../img/sprite-vk.png") no-repeat center;
}

.social-btn-vk:hover {
  background: #ffffff url("../img/sprite-vk-black.png") no-repeat center;
}

.social-btn-fb {
  background: #000000 url("../img/sprite-fb.png") no-repeat center;
}

.social-btn-fb:hover {
  background: #ffffff url("../img/sprite-fb-black.png") no-repeat center;
}

.social-btn-inst {
  background: #000000 url("../img/sprite-inst.png") no-repeat center;
}

.social-btn-inst:hover {
  background: #ffffff url("../img/sprite-inst-black.png") no-repeat center;
}

.footer-copyright {
  float: right;
  max-width: 180px;
}

.footer-copyright p {
  margin: 0px;
  margin-bottom: 15px;
  text-align: center;
}

.footer-copyright .btn {
  margin-right: 0px;
}

.footer-copyright .btn:hover {
  color: #000000;
  background-color: #ffffff;
}

.modal-content {

  display: none;

  position: absolute;
  top: 120px;
  left: 50%;
  width: 300px;
  padding: 50px 80px;
  margin-left: -230px;
  color: #000000;
  background: #f8f3f0 url("../img/pattern-white.jpg");
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-content-close {
  position: absolute;
  top: 0px;
  right: -34px;
  width: 22px;
  height: 22px;
  font-size: 0px;
  background-color: transparent;
  border: 0px;
  outline: 0px;
  cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color: #d0d0d0;
  border-radius: 1px;
}

.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close::after {
  transform: rotate(-45deg);
}

.modal-content h2 {
  margin: 0px;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 42px;
}

.modal-content p {
  margin: 0px;
  margin-bottom: 14px;
}

.modal-content .login-form {
  margin-top: 30px;
  margin-bottom: 10px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 236px;
  margin: 0px;
  margin-bottom: 10px;
  padding: 10px 20px;
  padding-right: 40px;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  background-color: #f9f6f3;
  border: 2px solid #000000;
  outline: none;
}

.login-form input:focus {
  border-color: #663d15;
}

.login-form input.icon-user {
  background-image: url("../img/icon-user.png");
  background-repeat: no-repeat;
  background-position: 270px 14px;
}

.login-form input.icon-password {
  background-image: url("../img/icon-pass.png");
  background-repeat: no-repeat;
  background-position: 270px 14px;
}

.login-form .restore {
  float: right;
  color: #000000;
}

.login-form .btn {
  width: 100%;
  margin-top: 15px;
}

.login-checkbox input[type="checkbox"] {
  display: none;
}

.login-checkbox {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.login-checkbox:hover {
  color: #663d15;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -3px;
  left: 0px;
  width: 17px;
  height: 17px;
  border: 2px solid #000000;
}

.login-checkbox input[type="checkbox"]:checked
+ .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked
+ .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 1px;
  width: 15px;
  height: 2px;
  background-color: #000000;
}

.login-checkbox input[type="checkbox"]:checked
+ .checkbox-indicator::before {
  transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked
+ .checkbox-indicator::after {
  transform: rotate(-45deg);
}

.modal-content-map {

  display: none;

  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -280px;
  margin-left: -390px;
  width: 766px;
  height: 561px;
  background: #e9e5dc url("../img/map.png");
  border: 7px solid white;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-content-show {
  display: block;
  animation: bounce 0.6s;
}

.login-content {
  width: 300px;
  margin: 0px auto;
  color: #000000;
  background: #f8f3f0 url("../img/pattern-white.jpg");
}

.map-content {
  width: 766px;
  height: 561px;
  margin: 0px auto;
  background: #e9e5dc url("../img/map.png");
  border: 7px solid white;
}
